@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #DD5C5C;
    --secondary-color: #2E0653;
    --primary-font: 'Poppins', sans-serif;
    --shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
    --black: #333;
    --surface:#FCEEEE;
}
body{
    font-family: var(--primary-font);
}
header{
    @include flexprops(row, space-between, center);
    background-color: #ffffff;
    min-height: 2vmin;
    padding: 1.5vmin;
    box-shadow: var(--shadow);
    .contact{
        @include flexprops(row, space-between, center);
        .contact-item{
            @include flexprops(row, space-between, center);
            a{
                color: var(--primary-color);
                font-size: 2vmin;
                margin: 0 1vmin;
            }
            span{
                color: var(--secondary-color);
                margin: 0 1vmin;
            }
        }
    }
}
.landing{
    height: calc(100vh - 10vmin);
    width: 100%;
    padding: 0 5vmin;
    @include flexprops(row, center, center);
    .landing-text{
        @include flexprops(column, space-between, start);
        width: 40%;
        h1{
            font-size: 9vmin;
            color: var(--secondary-color);
            font-weight: 500;
            b{
                font-weight: 700;
            }
        }
        h2{
            font-size: 5vmin;
            color:var(--black);
            font-weight: 500;
            margin-bottom: 1vmin;
            b{
                font-weight: 700;
            }
        }
        p{
            font-size: 3vmin;
            color:var(--black);
            font-weight: 300;
            margin-bottom: 1vmin;
        }
        .btn{
            background-color: var(--primary-color);
            color: #ffffff;
            padding: 2vmin 4vmin;
            border:none;
            outline: none;
            border-radius: 5px;
            font-size: 3vmin;
            font-weight: 500;
            cursor: pointer;
            margin-top: 2vmin;
            transition: all 0.3s ease-in-out;
            box-shadow: var(--shadow);
            &:hover{
                opacity: 1;
                transform: scale(1.05);
            }
            a{
                color: #ffffff;
                text-decoration: none;
            }
        }

    }
    .landing-image{
        width: 50%;
        img{
            width: 100%;
        }
    }
}
.responsibility{
    width: 100%;
    padding: 10vmin;
    background-color: var(--surface);
    @include flexprops(column, center, center);
    .responsibility-text{
        @include flexprops(column, space-between, center);
        width: 100%;
        h1{
            font-size: 7vmin;
            line-height: 7.5vmin;
            color: var(--secondary-color);
            font-weight: 500;
            margin-bottom: 7vmin;
            text-align: center;
            width: 100%;
            b{
                font-weight: 700;
            }
        }
        p{
            font-size: 3vmin;
            color:var(--black);
            font-weight: 300;
            width: 70%;
            text-align: left;
            margin-bottom: 5vmin;
            border: 1px solid var(--secondary-color);
            padding: 2vmin;
            border-radius: 5px;
        }

    }
}
.role{
    width: 100%;
    padding: 10vmin;
    @include flexprops(row, space-between, center);
    .role-text{
        @include flexprops(column, space-between, start);
        width: 40%;
        h1{
            font-size: 7vmin;
            line-height: 7.5vmin;
            color: var(--secondary-color);
            font-weight: 500;
            margin-bottom: 2vmin;
            b{
                font-weight: 700;
            }
        }
        p{
            font-size: 3vmin;
            color:var(--black);
            font-weight: 300;
            margin-bottom: 1vmin;
        }

    }
    .role-image{
        width: 50%;
        img{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 768px){
    header{
        min-height: 5vmin;
        padding: 2vmin;
        .contact{
            .contact-item{
                a{
                    font-size: 3vmin;
                    cursor: pointer;
                    margin: 0 2vmin;
                }
                span{
                    display: none;
                }
            }
        }
    }
    .landing{
        @include flexprops(column-reverse, center, center);
        padding: 5vmin;
        .landing-text{
            @include flexprops(column, center, center);
            margin-top: 7vmin;
            width: 100%;
            h1{
                font-size: 7vmin;
            }
            h2{
                font-size: 4vmin;
            }
            p{
                width: 75%;
                text-align: center;
            }
        }
        .landing-image{
            width: 100%;
        }
    }
    .responsibility{
        @include flexprops(column, center, center);
        padding: 5vmin;
        .responsibility-text{
            @include flexprops(column, center, center);
            margin-top: 7vmin;
            width: 100%;
            h1{
                font-size: 5vmin;
            }
            p{
                text-align: center;
                width: 100%;
            }
        }
    }
    .role{
        @include flexprops(column, center, center);
        padding: 5vmin;
        .role-text{
            @include flexprops(column, center, center);
            margin-top: 7vmin;
            width: 100%;
            h1{
                font-size: 5vmin;
            }
            p{
                text-align: center;
            }
        }
        .role-image{
            width: 100%;
        }
    }
}
    
